* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  line-height: 1;
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
}
a{
  text-decoration: none;
  color: inherit;
}
